<template>
    <div class="card-body">
        <div class="mb-3 float-right">Cauta
            <input type="text" name="" value="">
        </div>
        <!-- <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{ __('Name') }}</th>
                    <th>{{ __('Nickname') }}</th>
                    <th>{{ __('Email') }}</th>
                </tr>
            </thead>
            <tbody>
                @foreach ($users as $key => $user)
                    <tr>
                        <td>{{ $user -> name }}</td>
                        <td>{{ $user -> nickname }}</td>
                        <td>{{ $user -> email }}</td>
                    </tr>
                @endforeach
            </tbody>
            <tfoot>
                <tr>
                    <th>{{ __('Name') }}</th>
                    <th>{{ __('Nickname') }}</th>
                    <th>{{ __('Email') }}</th>
                </tr>
            </tfoot>
        </table> -->
        <div class="mt-4 float-right">
            <!-- {{ $users -> links() }} -->
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
