body{
    background-color:#ffffff;
    border:none;
    padding:0;
    margin:0;
    overflow-y:scroll;
    overflow-x:hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color:#373435;
    transition: 0.2s all !important;
    position: relative;
    line-height: normal;
}
div.navigator_index{
    width:100%;
    background-color:transparent;
    height:50px;
    position:fixed;
    top:0;
    left:0;
    text-align: right;
    z-index:999;
}
button.idx_button_log{
    background-color:#ffffff;
    border-radius:4px;
    padding:2px 10px;
    margin-right:30px;
    border:none;
    margin-top:20px;
    font-size:15px;
    font-weight: 600;
    transition: 0.2s;
}
button.idx_button_log:hover{
    background-color:#edebeb;
}
div.index_header{
    width:100%;
    height:55vh;
    position:relative;
}
div.index_header:before{
    content: "";
    top: 0;
    left: 0;
    width:100%;
    height:55vh;
    position:absolute;
    background-image:url('../images/asdf.jpg');
    background-size: 100% auto;
    filter:brightness(65%);
}
.module_inside{
    position: relative;
}
img.logo_idx{
    width:150px;
    height:auto;
    display: block;
    margin:auto;
    margin-top:150px;
}
div.label_search{
    color:#838383;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius:6px;
    background-color:#edebeb;
    padding:8px 0;
    float: left;
    width:10%;
}
input.input_search{
    border:0;
    float:left;
    padding:8px 5px;
    background-color:#ffffff;
    width:35%;
}
div.label_search_interior{
    color:#838383;
    text-align: center;
    background-color:#edebeb;
    padding:8px 0;
    float: left;
    width:15%;
}
button.button_search{
    width:5%;
    color:#ffffff;
    border-top-right-radius: 6px;
    border-bottom-right-radius:6px;
    padding:8px 0;
    text-align: center;
    float: left;
    background-color:#ed3237;
    cursor:pointer;
    transition: 0.2s;
    border:none;
}
button.button_search:hover{
    background-color: #e13237;
}
div.input_bar{
    margin-top:15px;
}
div.fast_checkboxs_idx{
    width:100%;
    text-align: center;
    margin-top:70px;
}
div.div_inliner{
    display: inline-block;
    position:relative;
}
div.checkbox_support{
    display: inline-block;
    margin-left:15px;
    margin-right:15px;
}
.label_input_checkbox {
    float:left;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top:5px;
}
.label_input_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #ffffff;
    border:1px solid #e6e6e6;
}
.label_input_checkbox:hover input ~ .checkmark_checkbox {
    background-color: #ccc;
}
.label_input_checkbox input:checked ~ .checkmark_checkbox {
    background-color: #ed3237;
    border:0;
}
.checkmark_checkbox:after {
    content: "";
    position: absolute;
    display: none;
}
.label_input_checkbox input:checked ~ .checkmark_checkbox:after {
    display: block;
}
.label_input_checkbox .checkmark_checkbox:after {
    left: 4px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
p.checkbox_text_white{
    display: inline-block;
    color:#ffffff;
    font-weight: 600;
    font-size:15px;
}
button.cautare_avansata{
    font-size:14px;
    color:#ed3237;
    background-color:#ffffff;
    border-radius:4px;
    padding:3px 10px;
    display: inline-block;
    border:none;
}
.div_centerer{
    width:100%;
    text-align: center;
}
img.image_plane{
    width:75%;
    display: block;
    margin: auto;
}
div.ad_div{
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:7px;
    padding:20px;
    margin-top:30px;
}
p.title_ad_div{
    font-size:22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
button.reg_ad_div{
    background-color:#ed3237;
    border-radius:6px;
    color:#ffffff;
    font-size:16px;
    font-weight: bold;
    padding:4px 20px;
    border:none;
    transition: 0.2s;
}
button.reg_ad_div:hover{
    background-color:#e13237;
}
div.modalDialog{
    max-width:600px;
}
div.modalContent{
    background-color:#fbfbfb;
    padding-top:20px;
    border-radius:5px;
}
img.logo_modal{
    width:150px;
    display: block;
    margin: auto;
}
p.title_modal{
    font-size:20px;
    font-weight: 600;
    text-align: center;
    margin-top:17px;
}
input.input_modal{
    width:75%;
    display: block;
    margin: auto;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom:15px;
    height:35px;
    padding:10px;
}
.Rounded_Rectangle_6 {
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 506px;
    top: 282px;
    width: 354px;
    height: 28px;
    z-index: 86;
}
button.button_universal{
    font-size:14px;
    color:#ffffff;
    background-color:#ed3237;
    border-radius:6px;
    font-weight:600;
    border:none;
    padding:3px 10px;
    display: block;
    margin: auto;
    margin-top:30px;
    margin-bottom:15px;
    transition: 0.2s;
}
button.button_universal:hover{
    background-color:#e13237;
}
p.pass_forget{
    font-size:12px;
    cursor:pointer;
    font-weight: 200;
    display: inline-block;
}
div.modalFooter{
    display: block;
    padding: 10px 50px 0px 50px
}
button.close_button{
    font-size:13px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    padding:3px 10px;
    float:right;
    border-radius:6px;
    font-weight: 600;
    transition: 0.2s;
    margin-bottom:10px;
}
button.close_button:hover{
    background-color:#fbfbfb;
}
nav.base_navigator{
    position:fixed;
    width:100%;
    height:60px;
    background-color:#fbfbfb;
    border-bottom:1px solid #e6e6e6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    z-index:999;
    transition: 0.2s;
}
.navigator_button{
    background:transparent;
    border:none;
    font-size:15px;
    margin-right:5px;
    font-weight: 600;
    margin-top:18px;
    transition: 0.2s;
    display: inline-block;
}
.navigator_button i{
    color:#ed3237;
}
.navigator_button:hover{
    color:#ed3237;
}
img.logo_base_navigator{
    height:50px;
    display: block;
    margin:auto;
    margin-top:10px;
}
.rightAlign{
    text-align: right;
}
.main_spacing{
    padding-top:60px;
    position: relative;
}
header.basic_profile_info{
    border-bottom:1px solid #e6e6e6;
    padding:15px 0;
}
img.main_profile_photo{
    width:60px;
    height:60px;
    border-radius:100%;
    box-shadow: 0.624px 2.934px 7px 0px rgba(0, 0, 0, 0.1);
    border:1px solid rgb(230, 230, 230);
    display: inline-block;
    object-fit: cover;
}
p.profile_name{
    font-size:18px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin-left:40px;
}
p.profile_name:before{
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background-color:#373435;
    left:-23px;
    border-radius:50%;
    margin-top:9px;
}
button.modify_profile{
    font-size:15px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    float:right;
    border-radius:6px;
    padding:3px 10px;
    margin-top:15px;
    font-weight:600;
    transition: 0.2s;
}
button.modify_profile:hover{
    background-color:#e6e6e6;
}
div.profile_card{
    width:100%;
    height:300px;
    background-color:#fbfbfb;
    border-radius:5px;
    border:1px solid #e6e6e6;
    box-shadow: 0.624px 2.934px 7px 0px rgba(0, 0, 0, 0.08);
    padding: 20px;
    text-align: center;
    position:relative;
    margin-top:10px;
}
i.plus_card{
    color:#ed3237;
    font-size:35px;
    text-align: center;
    padding:8px 10px;
    border:5px solid #ed3237;
    border-radius:50%;
    margin-bottom:20px;
}
p.title_card{
    font-size:18px;
    font-weight: bold;
    line-height:1.2;
    position:relative;
    z-index:2;
}
p.subtitle_card{
    font-size:15px;
}
button.card_button{
    color:#ed3237;
    width:70%;
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #e6e6e6;
    font-size:15px;
    font-weight: 600;
    padding:3px 15px;
    transition: 0.2s;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:20px;
}
button.card_button:hover{
    background-color:#fbfbfb;
}
i.coins_card{
    font-size:60px;
    color:#ed3237;
    margin-bottom:20px;
}
section.row_cards{
    border-bottom:1px solid #e6e6e6;
    padding-bottom:10px;
}
section.profile_search_area{
    padding-top:20px;
    border-bottom:1px solid #e6e6e6;
    padding-bottom:40px;
}
input.input_search_profile{
    border:0;
    float:left;
    padding:7px 5px;
    background-color:#fbfbfb;
    width:35%;
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
}
p.checkbox_text_black{
    display: inline-block;
    font-weight: bold;
    font-size:15px;
}
button.cautare_avansata_profile{
    font-size:14px;
    color:#ed3237;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:4px;
    padding:3px 10px;
    display: inline-block;
}
#search_map{
    margin-top:30px;
}
p.main_title{
    font-size:22px;
    text-align: center;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    display: block;
    margin: auto;
    margin-top:20px;
}
.grid-item {
    width: 33.333%;
    margin:0;
    padding-left:15px;
    padding-right:15px;
    float:left;
    margin-bottom:30px;
}
.grid-item2 {
    width: 50%;
    margin:0;
    padding-left:15px;
    padding-right:15px;
    float:left;
    margin-bottom:30px;
}
div.posts_area{
    width:100%;
    margin-top:40px;
}
img.post_profile{
    width:65px;
    height:65px;
    border-radius:50%;
    object-fit:cover;
    border:1px solid rgb(230, 230, 230);
}
p.nume_post{
    margin-bottom:0;
    font-size:15px;
    font-weight: 600;
    cursor:pointer;
}
p.nume_post_ad{
    margin-bottom:0;
    font-size:15px;
    font-weight: 600;
    cursor:pointer;
    color:#ed3237;
}
p.ocupatie_post{
    color:#838383;
    font-size:13px;
    font-weight: 600;
    margin-bottom:0;
}
p.ocupatie_post i{
    color:#ed3237;
}
div.post{
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius: 10px;
    position:relative;
}
div.post_body{
    padding:15px;
}
p.descriere_post{
    font-size:14px;
    font-weight: 600;
    margin-top:10px;
}
img.image_post{
    cursor:pointer;
    width:100%;
    max-height:400px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}
button.take_me_there{
    border:none;
    background: none;
    color:#ed3237;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: auto;
}
div.modalDialogEditare{
    max-width:700px;
}
.colored{
    color:#ed3237;
}
p.header_modal_title{
    font-size:14px;
    font-weight: 600;
    margin-bottom:0;
    display: inline-block;
}
header.modal_header{
    border-bottom:1px solid #e6e6e6;
    padding:5px 15px;
}
div.modalContentEditare{
    background-color:#fbfbfb;
    border-radius:5px;
    padding:0;
}
div.modalBodyEditare{
    padding:0;
}
i.modal_close_icon{
    float:right;
    margin-top:5px;
    cursor:pointer;
}
div.edit_profile_photo{
    width:120px;
    height:120px;
    display: block;
    margin: auto;
    border-radius:50%;
    border:3px solid #ed3237;
    position: relative;
    overflow: hidden;
}
div.modal_body_div{
    padding:15px 25px;
}
i.icon_hovered_edit{
    font-size:12px;
    background-color:rgba(237, 50, 55, 0.9);
    padding:7px;
    color: #ffffff;
    border-radius:50%;
    cursor:pointer;
    position:absolute;
    top:45px;
    left:-30px;
    transition: 0.2s;
}
i.icon_hovered_delete{
    font-size:12px;
    background-color:rgba(237, 50, 55, 0.9);
    padding:7px;
    color: #ffffff;
    border-radius:50%;
    cursor:pointer;
    position:absolute;
    top:45px;
    right:-30px;
    transition: 0.2s;
}
i.icon_hovered_edit:hover, i.icon_hovered_delete:hover{
    background-color:rgba(237, 50, 55, 1);
}
p.label_input_edit{
    font-size:15px;
    font-weight: 600;
    margin-bottom:0;
    margin-left:5px;
}
input.input_modal_editare{
    width:100%;
    margin: auto;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height:35px;
    padding:10px;
    position: relative;
}
p.add_selection{
    color:#ed3237;
    font-size:15px;
    position:absolute;
    right:25px;
    cursor:pointer;
    z-index: 10;
    font-weight: bold;
    margin-top:6px;
}
div.alternative{
    background-color:#e6e6e6;
    border-radius:5px;
    padding:3px 10px;
    font-weight: 600;
    display: inline-block;
    margin-right:10px;
    font-size: 13px;
    margin-top:5px;
}
div.alternative i{
    cursor:pointer;
}
div.edit_input_div{
    margin-bottom:15px;
}
p.big_wallet_number{
    font-size:40px;
    font-weight: 600;
    color:#ed3237;
    text-align: center;
    margin-bottom:0;
}
button.add_funds{
    color:#ed3237;
    background-color:transparent;
    border:1px solid #ed3237;
    border-radius:5px;
    padding:3px 20px;
    font-weight: 600;
    font-size: 13px;
    transition: 0.2s;
}
button.add_funds:hover{
    background-color: #f3f3f3;
}
p.silver_tips{
    font-size:25px;
    text-align: center;
    color:#807f7f;
    font-weight: 600;
    line-height: 1;
}
p.gold_tips{
    font-size:25px;
    text-align: center;
    color:#bea70a;
    font-weight: 600;
    line-height: 1;
}
p.platinum_tips{
    font-size:25px;
    text-align: center;
    color:#7ba8b0;
    font-weight: 600;
    line-height: 1;
}
div.bacsisuri_oferite{
    width:150px;
    height:200px;
    border-radius:5px;
    border:1px solid #e6e6e6;
    padding:8px;
    margin-right:10px;
    transition: 0.2s;
    cursor: pointer;
    display: inline-block;
}
div.bacsisuri_oferite:hover{
    box-shadow: 0.669px 0.743px 4px 0px rgba(0, 0, 0, 0.2);
}
img.profile_bacsis_oferit{
    width:70px;
    height:70px;
    border-radius:50%;
    border:2px solid #ed3237;
    display: block;
    margin:auto;
    object-fit:cover;
}
p.persoana_bacsis_oferit{
    text-align: center;
    font-size:14px;
    font-weight: 600;
    margin-top:10px;
    margin-bottom:0;
}
p.cantitate_bacsis_oferit{
    text-align: center;
    font-size:25px;
}
p.cantitate_bacsis_oferit i{
    color:#807f7f;
}
div.infinite_scroll_parent{
    margin-top:8px;
    width:100%;
    overflow-x:scroll;
    padding-bottom:5px;
}
#style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#style-3::-webkit-scrollbar
{
    height: 6px;
    background-color: #F5F5F5;
}
#style-3::-webkit-scrollbar-thumb
{
    background-color: #373435;
}
div.more_photos_post{
    position:absolute;
    bottom:0;
    cursor:pointer;
    width:100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(230,230,230,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(230,230,230,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(230,230,230,0) 100%);
    height:150px;
    z-index:2;
    color:#ffffff;
    text-align: center;
    font-weight: 600;
    padding-top:100px
}
div.modalDialogPostare{
    max-width:1100px;
}
div.modalContentPost{
    padding:0;
    background-color:#ffffff;
    border-radius:5px;
    border:1px solid #e6e6e6;
    height:700px;
}
div.image_modal_div_post{
    width:70%;
    display: inline-block;
    position: relative;
    background-color: #4c4c4c;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    height:100%;
}
div.information_modal_div_post{
    width:30%;
    float:right;
    position:relative;
}
img.big_image_modal{
    max-width:100%;
    max-height:699px;
    display: block;
    margin: auto;
    position:relative;
}
i.close_icon_modal_post{
    position:absolute;
    color:rgba(255, 255, 255, 0.7);
    font-size:25px;
    top:20px;
    left:20px;
    z-index:2;
    cursor:pointer;
    transition: 0.2s;
}
i.close_icon_modal_post:hover{
    color:rgba(255, 255, 255, 1);
}
i.change_image_icon_modal_left, i.change_image_icon_modal_right{
    font-size:40px;
    position:absolute;
    color:rgba(255, 255, 255, 0.7);
    z-index:2;
    cursor:pointer;
    transition: 0.2s;
    top:45%;
}
i.change_image_icon_modal_left:hover, i.change_image_icon_modal_right:hover{
    color:rgba(255, 255, 255, 1);
}
i.change_image_icon_modal_left{
    left:20px;
}
i.change_image_icon_modal_right{
    right:20px;
}
.outer_image_modal {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.middle_image_modal {
    display: table-cell;
    vertical-align: middle;
}
.inner_image_modal {
    margin-left: auto;
    margin-right: auto;
}
.carouselInnerPostare{
    overflow:inherit;
    height:100%;
}
.carouseItemPostare{
    height: 100%;
}
i.icon_setting_postare{
    color:#838383;
    float:right;
    right:10px;
    top:10px;
    cursor:pointer;
    font-size:13px;
}
p.profile_name_profesionist{
    font-size:18px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin-left:40px;
}
p.profile_name_profesionist:before{
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background-color:#373435;
    left:-23px;
    border-radius:50%;
    margin-top:9px;
}
p.profile_name_profesionist:after{
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background-color:#373435;
    right:-23px;
    border-radius:50%;
    margin-top:9px;
}
p.profesionist_status{
    font-size:18px;
    display: inline-block;
    position: relative;
    margin-left:40px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
    margin-left:15px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom:3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #ed3237;
}
input:focus + .slider {
    box-shadow: 0 0 1px #ed3237;
}
input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
p.numar_urmaritori{
    float:right;
    font-weight: 600;
    margin-right:60px;
    margin-top:15px;
}
p.label_postare_title{
    font-size:14px;
    text-align: center;
    font-weight: 600;
}
div.label_textarea_postare{
    background-color:#edebeb;
    border:1px solid #e6e6e6;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    padding:15px;
    height:130px;
    display: inline-block;
    margin-top:10px;
    margin-right:0;
}
i.icon_feature_postare{
    color:#838383;
    font-size:25px;
    text-align: center;
    cursor:pointer;
    transition:0.2s;
}
i.icon_feature_postare:hover{
    color: #6d6d6d;
}
button.add_post{
    font-size:14px;
    background-color:#ed3237;
    border-radius:10px;
    border:none;
    margin-top:15px;
    color:#ffffff;
    padding:4px 10px;
    font-weight: 600;
}
textarea.textarea_create_post{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
    border-left:0;
    resize: none;
    height:130px;
    margin-left:0;
    width:400px;
    float:right;
    margin-top:10px;
    padding-left:15px;
}
button.buton_filtrare_postari_activ{
    width:100%;
    color:#ed3237;
    font-size:18px;
    font-weight: 600;
    text-align: center;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:10px;
    position:relative;
    padding:10px;
    margin-top:15px;
    transition: 0.2s;
}
button.buton_filtrare_postari_inactiv{
    width:100%;
    color:#838383;
    font-size:18px;
    font-weight: 600;
    text-align: center;
    background-color:#edebeb;
    border:1px solid #e6e6e6;
    border-radius:10px;
    position:relative;
    padding:10px;
    margin-top:15px;
    transition: 0.2s;
}
button.buton_filtrare_postari_inactiv:hover{
    background-color:#e6e6e6;
}
i.gold_coin{
    color:#bea70a !important;
}
i.platinum_coin{
    color:#7ba8b0 !important;
}
aside.editare_profil_sidebar{
    width:45vw;
    height:100vh;
    position:fixed;
    z-index: 1000;
    top:0;
    right:0;
    background-color:#fbfbfb;
    display: none;
}
aside.adaugare_camere_sidebar{
    width:45vw;
    height:100vh;
    position:fixed;
    z-index: 1000;
    top:0;
    right:0;
    background-color:#fbfbfb;
    display: none;
}
div.black_bg_edit_aside{
    width:100vw;
    height:100vh;
    position:fixed;
    background:rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}
div.black_bg_edit_aside2{
    width:100vw;
    height:100vh;
    position:fixed;
    background:rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}
div.fast_navigation_editer{
    width:35%;
    height:100vh;
    float:right;
    border-left:1px solid #e6e6e6;
    position:relative;
}
div.header_fast_navigation_editer{
    width:100%;
    color:#ed3237;
    background-color:#edebeb;
    font-weight: 600;
    font-size:19px;
    text-align: center;
    padding:30px 10px;
    margin-bottom:20px;
}
button.button_fast_nav_editer_active{
    width:95%;
    display: block;
    margin: auto;
    border-radius:10px;
    background-color:#ed3237;
    color:#ffffff;
    font-weight: 600;
    padding:3px 10px;
    border: 1px solid #ed3237;
    text-align: left;
    transition: 0.2s;
    margin-bottom:8px;
}
button.button_fast_nav_editer_active i{
    float: right;
}
button.button_fast_nav_editer_inactive{
    width:95%;
    display: block;
    margin: auto;
    border-radius:10px;
    background-color:#ffffff;
    font-weight: 600;
    padding:3px 10px;
    border: 1px solid #e6e6e6;
    text-align: left;
    transition: 0.2s;
    margin-bottom:8px;
}
button.button_fast_nav_editer_inactive i{
    float: right;
}
div.footer_fas_navigation_editer{
    width:100%;
    position:absolute;
    bottom:20px;
    text-align: center;
}
button.buton_save_fast_nav{
    font-size:15px;
    background-color:#ed3237;
    border-radius:5px;
    margin-top:15px;
    color:#ffffff;
    padding:4px 10px;
    border:1px solid #ed3237;
    font-weight: 600;
}
button.buton_export_fast_nav{
    font-size:15px;
    background-color:transparent;
    border:1px solid #ed3237;
    border-radius:5px;
    margin-top:15px;
    color:#ed3237;
    padding:4px 10px;
    font-weight: 600;
}
button.buton_close_fast_nav{
    font-size:15px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    border-radius:5px;
    margin-top:15px;
    padding:4px 10px;
    font-weight: 600;
}
div.actual_navigation_editer{
    width:65%;
    display: inline-block;
    background-color:#ffffff;
    height:100vh;
    overflow-y:scroll;
    padding-bottom:30px;
}
#style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#style-4::-webkit-scrollbar
{
    width: 4px;
    background-color: #F5F5F5;
}
#style-4::-webkit-scrollbar-thumb
{
    background-color: #ed3237;
}
div.header_navigation_editer{
    width:100%;
    padding:30px;
}
div.header_navigation_editer span{
    color:#838383;
    font-weight: 600;
    font-size:20px;
}
div.header_navigation_editer i{
    color:#373435;
    font-size:20px;
    float:right;
    cursor:pointer;
}
p.text_input_circle{
    font-size:16px;
    font-weight: 600;
    text-align: center;
    margin:30px 20px;
    cursor:pointer;
    line-height: 1;
}
p.label_input_modify_profile{
    font-size:15px;
    margin-bottom:2px;
    line-height: 1;
    margin-left:10px;
    font-weight: 600;
}
.input_editare_profil{
    width:100%;
    height:40px;
    border:1px solid #e6e6e6;
    background-color:#fbfbfb;
    font-size:19px;
    padding-left:15px;
    border-radius:10px;
    margin-bottom:10px;
    position:relative;
}
textarea.textarea_editare_profil{
    width:100%;
    height:140px;
    border:1px solid #e6e6e6;
    background-color:#fbfbfb;
    font-size:19px;
    padding-left:15px;
    border-radius:10px;
    margin-bottom:10px;
    position:relative;
    resize: none;
}
#afisareEditare1, #afisareEditare2, #afisareEditare3, #afisareEditare4, #afisareEditare5{
    display: none;
}
.lastEditActive{
    display: block !important;
}
p.title_search_page{
    text-align: center;
    font-size:18px;
    font-weight:bold;
    display: inline-block;
    margin-top:15px;
}
div.float_right{
    float:right;
    margin-top:15px;
}
button.back_button{
    font-size:15px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    float:left;
    border-radius:6px;
    padding:3px 10px;
    margin-top:15px;
    font-weight:600;
    transition: 0.2s;
}
button.back_button:hover{
    background-color:#e6e6e6;
}
div.margin_top{
    margin-top:30px;
}
div.cererile_mele_de_munca{
    width:100%;
    height:auto;
    background-color:#fbfbfb;
    border-radius:5px;
    border:1px solid #e6e6e6;
    padding:15px;
    margin-bottom:30px;
}
p.text_default{
    font-size:15px;
    margin-bottom:2px;
    font-weight: 600;
}
p.text_default_gri{
    font-size:15px;
    margin-bottom:2px;
    font-weight: 600;
    color:#838383;
}
button.delete_cerere_de_munca{
    color:#838383;
    font-size:14px;
    padding:1px 4px;
    background-color:#ffffff;
    border-radius:8px;
    border:1px solid #e6e6e6;
    display: block;
    margin: auto;
    margin-top:10px;
}
button.delete_cerere_de_munca i{
    color:#ed3237;
}
div.div_listare_cautare{
    width:100%;
    min-height:150px;
    background-color:#fbfbfb;
    border-radius:10px;
    border:1px solid #e6e6e6;
    padding:20px;
    margin-top:25px;
}
img.logo_listare_afisare{
    width:80%;
    height:auto;
    display: block;
    margin:auto;
}
p.post_date_list{
    font-size:13px;
    color:#838383;
    text-align: center;
    margin-top:5px;
}
p.list_afisare_title{
    font-size:20px;
    font-weight: bold;
    margin-bottom:0;
}
p.nume_restaurant{
    font-size:16px;
    color:#ed3237;
    font-weight: 600;
    margin-bottom:2px;
}
p.locatie_restaurant{
    font-size:16px;
    color:#373435;
    font-weight: 600;
    margin-bottom:2px;
}
.bordered_footer{
    border-top:1px solid #e6e6e6;
    text-align: center;
    margin-top:20px;
}
#mapa_afisare{
    margin-top:25px;
}
div.navigator_label{
   display: none;
}
.only_phone{
    display: none;
}
div.diver_header_mobile_opt{
    display: inline-block;
}
div.location_card{
    width:100%;
    height:300px;
    background-color:#fbfbfb;
    border-radius:5px;
    border:1px solid #e6e6e6;
    box-shadow: 0.624px 2.934px 7px 0px rgba(0, 0, 0, 0.08);
    text-align: center;
    position:relative;
    margin-top:10px;
}
div.location_card_salon{
    width:100%;
    height:300px;
    background-color:#fbfbfb;
    border-radius:5px;
    border:1px solid #e6e6e6;
    box-shadow: 0.624px 2.934px 7px 0px rgba(0, 0, 0, 0.08);
    text-align: center;
    position:relative;
    margin-top:20px;
}
img.cover_locatie{
    width:100%;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    height:150px;
    object-fit:cover;
}
div.location_card_body{
    padding:10px 20px;
}
p.numar_urmaritori_res{
    float:right;
    font-weight: 600;
    margin-right:60px;
    margin-top:15px;
}
button.upload_image_rest{
    width:100%;
    height:150px;
    border-radius:10px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    margin-bottom:20px;
}
button.upload_image_rest i{
    font-size:50px;
    color:#ed3237;
    text-align: center;
    display: block;
    line-height: 1;
}
button.upload_image_rest span{
    font-size:14px;
    color:#838383;
    text-align: center;
    font-weight: 600;
}
img.img_uploaded_restaurant{
    width:100%;
    height:150px;
    border-radius:10px;
    border:1px solid #e6e6e6;
    object-fit:cover;
    position:relative;
    margin-bottom:20px;
}
i.delete_uploaded_image_restaurant{
    position:absolute;
    font-size:25px;
    color:#ed3237;
    right:10px;
    top:-10px;
    z-index:2;
    cursor:pointer;
}
i.menu_pc{
    font-size:20px;
    margin-right:20px;
    margin-top:20px;
    float: left;
    cursor:pointer;
}
aside.navigator_sidebar{
    position:fixed;
    z-index:999;
    left:-360px;
    height:100vh;
    overflow-y:scroll;
    width:350px;
    background-color:#ffffff;
    border:1px solid rgb(230, 230, 230);
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.18);
    padding:10px 0px;
    transition: 0.2s;
}
.no_scroll_bar::-webkit-scrollbar-track {
   display: none;
}
.no_scroll_bar::-webkit-scrollbar {
    display: none;
}
.no_scroll_bar::-webkit-scrollbar-thumb {
    display: none;
}
aside.navigator_sidebar header{
    width:100%;
    margin-bottom:15px;
    color: #838383;
    padding-left:15px;
    padding-right:15px;
    line-height: 1;
}
aside.navigator_sidebar header span{
    font-weight: 600;
    font-size:13px;
    display: inline-block;
}
aside.navigator_sidebar header i{
    cursor:pointer;
    float:right;
    font-size:16px;
}
div.sub_header{
    width:100%;
    border-bottom:1px solid #e6e6e6;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
}
div.sub_header img{
    width: 40px;
    height:40px;
    border:1px solid #e6e6e6;
    box-shadow: 0.624px 2.934px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: inline-block;
}
div.sub_header span{
    font-size:14px;
    color:#373435;
    font-weight: 600;
    margin-left:5px;
}
.buton_sidebar_navigare{
    width:100%;
    background:transparent;
    border:none;
    border-bottom:1px solid #e6e6e6;
    font-size:16px;
    font-weight: 600;
    text-align: left;
    padding: 15px 20px;
    transition: 0.1s;
}
.buton_sidebar_navigare i{
    color: #ed3237;
    margin-right:5px;
}
.buton_sidebar_navigare img{
    width:15px;
    display: inline-block;
    margin-right:5px;
}
.buton_sidebar_navigare:hover{
    background:#fbfbfb;
}
i.icon_change_menu_sidebar{
    float:right;
    color:#373435 !important;
}
div.hided_elements{
    margin-left:30px;
    overflow: hidden;
    height:0;
    transition: 0.2s;
}
p.sub_button_meniu{
    margin-bottom:0;
    transition: 0.2s;
    cursor:pointer;
}
p.sub_button_meniu:hover{
    margin-left:5px;
}
div.header_button_sidebar{
    cursor:pointer;
}
p.add_selection_2{
    color:#ed3237;
    font-size:15px;
    position:absolute;
    right:25px;
    cursor:pointer;
    z-index: 10;
    font-weight: bold;
    margin-top:9px;
}
button.add_program{
    font-size:15px;
    background-color:#ed3237;
    border-radius:5px;
    color:#ffffff;
    padding:4px 10px;
    border:1px solid #ed3237;
    font-weight: 600;
    width:100%;
    margin-bottom:10px;
}
div.box_program{
    margin-top:20px;
    border-bottom:1px solid #e6e6e6;
}
select.select_program{
    width:25%;
    height:30px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    margin-left:5px;
}
span.label_program{
    font-weight: 600;
    margin-left:15px;
}
div.interval_orar_program{
    margin-top:15px;
    padding-left:20px;
}
input.interval_orar{
    width:40px;
    height:30px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    text-align: center;
}
p.main_title_page{
    font-size:22px;
    text-align: center;
    font-weight: 600;
    display: block;
    margin: auto;
    margin-top:30px;
}
.no_border_row{
    margin-top:30px;
    margin-bottom:30px;
}
p.label_text{
    display: inline-block;
    font-size:17px;
    font-weight: 600;
}
input.nume_meniu{
    width:250px;
    height:40px;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    margin-right:40px;
    margin-left:5px;
    padding-left:5px;
}
button.upload_menu_photo{
    height:40px;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    margin-right:40px;
    padding-left:10px;
    padding-right:10px;
    transition: 0.2s;
}
button.upload_menu_photo:hover{
    background:#e6e6e6;
}
button.save_menu{
    height:40px;
    background:#ed3237;
    border:1px solid #ed3237;
    border-radius:5px;
    padding-left:30px;
    padding-right:30px;
    color:#ffffff;
    transition: 0.2s;
    margin-left:5px;
}
button.save_menu:hover{
    background:#e13237;
}
button.buton_activ_meniu{
    height:45px;
    background:#ed3237;
    border:1px solid #ed3237;
    font-weight: bold;
    border-radius:3px;
    padding-left:50px;
    padding-right:50px;
    color:#ffffff;
    margin-left:5px;
}
button.buton_inactiv_meniu{
    height:45px;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    font-weight: bold;
    border-radius:3px;
    padding-left:50px;
    padding-right:50px;
    transition: 0.2s;
    margin-left:5px;
}
button.buton_inactiv_meniu:hover{
    background:#e6e6e6;
}
button.adauga_categorie_button{
    width:450px;
    background:#fbfbfb;
    border:1px solid #ed3237;
    border-radius:3px;
    padding:10px 20px;
    font-weight: 600;
    text-align: left;
    font-size:14px;
    margin-top:5px;
}
button.adauga_categorie_button i{
    float:right;
    color:#ed3237;
    font-size:15px;
    margin-top:2px;
}
div.categorie_adaugata{
    width:450px;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:3px;
    padding:10px 20px;
    font-weight: 600;
    text-align: left;
    font-size:14px;
    margin-top:5px;
}
div.categorie_adaugata i{
    float:right;
    font-size:15px;
    margin-top:2px;
    cursor:pointer;
    margin-left:10px;
}
p.save_add{
    float:right;
    font-size:14px;
    color:#ed3237;
    font-weight: 600;
    cursor:pointer;
    margin-top:5px;
}
input.input_interior_div{
    width:300px;
    border-radius:3px;
    border:1px solid #373435;
    height:30px;
    padding-left:8px;
}
div.parinte_categorie_adaugata{
    border-bottom:1px solid #e6e6e6;
    padding-bottom:5px;
    margin-bottom:5px;
}
button.adauga_subcategorie_button{
    width:220px;
    background:#fbfbfb;
    border:1px solid #ed3237;
    border-radius:3px;
    padding:10px 20px;
    font-weight: 600;
    text-align: left;
    font-size:14px;
    margin-right:5px;
    margin-top:5px;
}
button.adauga_subcategorie_button i{
    float:right;
    color:#ed3237;
    font-size:15px;
    margin-top:2px;
}
div.adaugare_subcategorie_si_meniu{
    margin-left:50px;
}
div.subcategorii_si_meniuri_adaugate{
    margin-left:50px;
}
div.creare_meniu_div{
    height:auto;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:3px;
    margin-top:5px;
    width:450px;
}
div.header_creare_meniu{
    width:100%;
    border-bottom:1px solid #e6e6e6;
    padding:3px 0;
}
p.title_header_add_men{
    font-size:12px;
    margin-left:10px;
    color:#838383;
    margin-bottom:0;
}
div.body_creare_meniu{
    padding:10px;
}
p.label_input_creare_meniu{
    font-size:13px;
    color:#373435;
    margin-bottom:0;
    font-weight: 600;
    display: inline-block;
}
input.input_name_creare_meniu{
    width:100%;
    border-radius:2px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    font-size:14px;
    padding-left:10px;
    height:25px;
    margin-bottom:5px;
}
input.input_pret_add_men{
    width:60px;
    border-radius:2px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    font-size:14px;
    padding-left:10px;
    height:25px;
    margin-right:30px;
    margin-bottom:5px;
}
input.input_durata_add_men{
    width:60px;
    border-radius:2px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    font-size:14px;
    padding-left:10px;
    height:25px;
    margin-right:30px;
    margin-bottom:5px;
}
select.select_unit_monetara_add_men{
    width:60px;
    border-radius:2px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    font-size:14px;
    padding-left:5px;
    height:25px;
    margin-bottom:5px;
}
input.input_adaugare_ingrediente_add_men{
    width:100%;
    border-radius:2px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    font-size:14px;
    padding-left:10px;
    height:25px;
    margin-bottom:5px;
}
input.input_clasic_add_men{
    width:100%;
    border-radius:2px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    font-size:14px;
    padding-left:10px;
    height:25px;
    margin-bottom:5px;
}
select.input_adaugare_ingrediente_add_men{
    width:100%;
    border-radius:2px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    font-size:14px;
    padding-left:10px;
    height:25px;
    margin-bottom:5px;
}
p.nume_ingredient_add_men{
    font-size:14px;
    display: inline-block;
    position: relative;
}
input.gramaj_ingredient_add_men{
    margin-left:25px;
    width:50px;
    border-radius:2px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    font-size:14px;
    height:23px;
    margin-bottom:5px;
    text-align: center;
}
select.select_um_gramaj_ing_add_men{
    width:50px;
    border-radius:2px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    font-size:14px;
    height:23px;
    margin-bottom:5px;
    text-align: center;

}
i.trash_ingredient_add_men{
    cursor:pointer;
    float:right;
    margin-top:5px;
    font-size:13px;
}
button.add_photo_add_men{
    width:100%;
    height:80px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    border-radius:4px;
    font-size:40px;
    margin-top:5px;
    margin-bottom:5px;
}
img.img_uploaded_menu{
    width:100%;
    height:80px;
    border-radius:4px;
    border:1px solid #e6e6e6;
    object-fit:cover;
    position:relative;
    margin-bottom:5px;
    margin-top:5px;
}
i.delete_uploaded_image_menu{
    position:absolute;
    font-size:15px;
    color:#ed3237;
    right:5px;
    top:-5px;
    z-index:2;
    cursor:pointer;
}
textarea.descriere_meniu_add_men{
    width:100%;
    height:100px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    border-radius:4px;
    resize: none;
}
input.input_nr_persoane_add_men{
    width:45px;
    border-radius:2px;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    font-size:14px;
    padding-left:10px;
    height:25px;
    margin-bottom:5px;
}
button.button_add_men{
    color:#ffffff;
    background-color:#ed3237;
    border-radius:4px;
    font-size:14px;
    font-weight: 600;
    border:none;
    padding:3px 30px;
    display: block;
    margin: auto;
    transition: 0.2s;
}
button.button_add_men:hover{
    background-color:#e13237;
}
img.img_iconita_add_men{
    float:right;
    width:15px;
    margin-top:2px;
    cursor:pointer;
    margin-left:10px;
}
#adauga_bautura{
    display: none;
}
input.input_ora_mn{
    background:#fbfbfb;
    text-align: center;
    border-radius:2px;
    width:60px;
    height:23px;
    border:1px solid #e6e6e6;
    margin:0 5px;
}
.ui-timepicker-standard{
    font-size:11px !important;
}
i.arrow_open_card_meniul_zilei{
    color:#ed3237;
    float:right;
    font-size:25px !important;
    margin-top:-3px !important;
    cursor:pointer;
    margin-left:10px;
}
div.subelemente_meniul_zilei{
    width:100%;
    margin-top:15px;
    display: none;
}
div.sub_categorie_meniul_zilei{
    width:100%;
    background:#ffffff;
    border:1px solid #e6e6e6;
    border-radius:3px;
    padding:7px 20px;
    font-weight: 600;
    text-align: left;
    font-size:14px;
    margin-top:5px;
}
button.adauga_mn{
    font-size:12px;
    color:#ffffff;
    background:#ed3237;
    border-radius:7px;
    border:none;
    float:right;
    padding:1px 10px;
}
div.categorie_adaugata_mn{
    width:100%;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:3px;
    padding:10px 20px;
    font-weight: 600;
    text-align: left;
    font-size:14px;
    margin-top:5px;
}
div.sub_categorie_meniul_zilei_sub{
    width:100%;
    background:#edebeb;
    border:1px solid #e6e6e6;
    border-radius:3px;
    padding:7px 20px;
    font-weight: 600;
    text-align: left;
    font-size:14px;
    margin-top:5px;
}
div.categorie_adaugata_mn i{
    float:right;
    font-size:15px;
    margin-top:2px;
    cursor:pointer;
    margin-left:10px;
}
select.select_time_day{
    float:right;
    background:#ffffff;
    border:1px solid #e6e6e6;
    border-radius:4px;
}
i.icon_edit_mn{
    float:none !important;
    font-size:15px;
    margin-top:2px;
    cursor:pointer;
    margin-left:10px;
}
.nume_eveniment{
    width:100%;
    height:40px;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    margin-bottom:10px;
    padding-left:5px;
}
textarea.nume_eveniment{
    width:100%;
    height:200px;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    resize: none;
    margin-bottom:10px;
}
p.label_text_ev{
    display: inline-block;
    font-size:17px;
    font-weight: 600;
    margin-bottom: 5px;
}
div.keeper_date_selecter{
    width:100%;
    padding: 8px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
}
.selectare_data_eveniment{
    height:30px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    text-align: center;
    margin-bottom:5px;
}
.interval_orar_eveniment{
    width:70px;
    height:30px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    text-align: center;
}
button.big_upload_event{
    width:100%;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    height:300px;
    overflow: hidden;
    position:relative;
}
i.upl_icn{
    font-size:110px;
    color:#ed3237;
    margin-bottom:10px;
    z-index:10;
    position: relative;
}
i.absolute_bg_img_icon{
    font-size:280px;
    position:absolute;
    color:#f8f8f8;
    top:100px;
}
p.nume_post i{
    color:#ed3237;
}
p.nume_post span{
    color:#ed3237;
}
button.buton_bw_personal{
    font-size:15px;
    background-color:#ffffff;
    border-radius:5px;
    margin-top:15px;
    padding:4px 10px;
    border:1px solid #373435;
    font-weight: 600;
}
p.main_title_page2{
    font-size:22px;
    text-align: center;
    font-weight: 600;
    display: block;
    margin: auto;
    margin-top:15px;
    margin-bottom:15px;
}
img.job_profile{
    width:45px;
    height:45px;
    border-radius:50%;
    object-fit:cover;
    border:1px solid rgb(230, 230, 230);
}
p.nume_pers_job{
    margin-bottom:0;
    font-size:14px;
    font-weight: 600;
    cursor:pointer;
    margin-top:10px;
}
div.personalul_tau{
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    padding:6px 10px;
    margin-bottom:10px;
}
div.personalul_tau header{
    margin-bottom:5px;
}
p.info_job_post{
    margin-bottom:4px;
    font-size:14px;
    font-weight: 600;
    cursor:pointer;
}
p.info_job_post i{
    color:#ed3237;
    font-size:12px;
    margin-right:3px;
}
span.sub_function_personal{
    font-size:12px;
    color:#ed3237;
}
.bordered_footer2{
    border-top:1px solid #e6e6e6;
    margin-top:20px;
    padding-top:15px;
}
p.date_floated_right_ang{
    color:#838383;
    float:right;
    font-size:12px;
    margin-top:10px;
}
p.checkbox_text_black2{
    display: inline-block;
    font-weight: bold;
    font-size:15px;
    margin-bottom:0;
}
p.checkbox_text_black i, p.checkbox_text_black2 i{
    color:#ed3237;
}
span.profile_type_name{
    font-size:16px;
    font-weight: bold;
    color:#ed3237;
}
img.cover_camera{
    width:100%;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    height:200px;
    object-fit:cover;
}
input.search_room{
    font-size:15px;
    background-color:#fbfbfb;
    border-radius:5px;
    margin-top:25px;
    padding:4px 10px;
    border:1px solid #e6e6e6;
    width:300px;
    margin-bottom:25px;
}
p.stele_hotel{
    margin-top:0;
    font-size:20px;
    line-height: 1;
    cursor:pointer;
}
p.stele_hotel i{
    margin-left:5px;
}
.pret_meniu_mare{
    width:120px;
    height:40px;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    margin-right:5px;
    margin-left:5px;
    padding-left:5px;
}
img.cover_sponsor{
    width:100%;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    height:200px;
    object-fit: contain;
}
p.profile_name_admin{
    font-size:18px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin-left:40px;
    margin-top:20px;
}
p.profile_name_admin:before{
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background-color:#373435;
    left:-23px;
    border-radius:50%;
    margin-top:9px;
}
i.coins_card_admin{
    font-size:35px;
    color:#ed3237;
    margin-bottom:20px;
}
div.profile_card_admin{
    width:100%;
    height:180px;
    background-color:#fbfbfb;
    border-radius:5px;
    border:1px solid #e6e6e6;
    box-shadow: 0.624px 2.934px 7px 0px rgba(0, 0, 0, 0.08);
    padding: 20px;
    text-align: center;
    position:relative;
    margin-top:30px;
}
table.table_administrare{
    width:100%;
    position:relative;
    display: table;
    height:auto;
}
table.table_administrare thead{
    width:100%;
    position:relative;
    background-color:#fbfbfb;
    border:1px solid #ed3237;
}
table.table_administrare thead td{
    position:relative;
    padding:10px;
    font-weight: bold;
}
table.table_administrare thead td:not(:last-child){
    border-right:1px solid #e6e6e6;
}
table.table_administrare tbody{
    width:100%;
    position:relative;
    border:1px solid #e6e6e6;
}
table.table_administrare tbody td{
    position:relative;
    padding:10px;
    font-weight: 400;
}
table.table_administrare tbody td:not(:last-child){
    border-right:1px solid #e6e6e6;
}
table.table_administrare tbody tr:not(:last-child){
    border-bottom:1px solid #e6e6e6;
}
.center{
    text-align: center;
}
.pointer{
    cursor:pointer;
}
div.info_modal_table{
    position:absolute;
    background-color:#ffffff;
    border:1px solid #ed3237;
    border-radius:3px;
    padding:5px;
    width:250px;
    height:auto;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 2;
    left:40px;
    top:7px;
    display: none;
}
i.absolute_left_arr{
    position:absolute;
    left:-6px;
    color:#ed3237;
    font-size:17px;
}
p.text_suspendare{
    font-size:17px;
    font-weight: bold;
    color:#373435;
    margin-bottom:2px;
}
select.select_modal_tab{
    width:100%;
    height:35px;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    padding-left:5px;
}
div.parent_add_half_prod{
    height:auto;
    width:100%;
    position:relative;
    margin-top:30px;
}
div.header_add_half{
    width:100%;
    height:auto;
    border-radius:10px;
    background-color:#ffffff;
    border:1px solid #ed3237;
    text-align: center;
    padding: 25px;
    color:#373435;
    font-size:25px;
    font-weight: 600;
    z-index: 2;
    position: relative;
}
div.header_add_half i{
    font-size:45px;
    margin-bottom:15px;
}
div.body_half_add{
    width:100%;
    height:auto;
    padding:35px 20px 20px 20px;
    border:1px solid #E6E6E6;
    border-radius:10px;
    margin-top:-15px;
    position: relative;
    margin-bottom:40px;
}
input.input_tips{
    height:40px;
    width:100px;
    background:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    margin-bottom:10px;
    padding-left:5px;
}
p.label_text_ev_2{
    display: inline-block;
    font-size:17px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top:7px;
}
div.div_tip{
    width: 100%;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 15px 20px 20px 20px;
    font-weight: 600;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
    position:relative
}
button.buton_see_profile{
    font-size:15px;
    background-color:#ed3237;
    border-radius:5px;
    color:#ffffff;
    padding:4px 10px;
    border:1px solid #ed3237;
    font-weight: 600;
    float:right;
}
div.div_scroll_tip{
    width:100%;
    height:400px;
    border:1px solid #e6e6e6;
    border-radius:10px;
    overflow-y:scroll;
    padding:10px 20px 0px 20px;
    margin-bottom:20px;
}
div.element_scroll_tip{
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 10px;
    font-weight: 600;
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
    position:relative;
}
span.date_time_tip{
    float:right;
    font-size:11px;
}
div.location_card_atractie{
    width:100%;
    height:340px;
    background-color:#fbfbfb;
    border-radius:5px;
    border:1px solid #e6e6e6;
    box-shadow: 0.624px 2.934px 7px 0px rgba(0, 0, 0, 0.08);
    text-align: left;
    position:relative;
    margin-top:20px;
}
.active_but_prof_sh{
    background-color:#ed3237 !important;
    color:#ffffff !important;
}
a{
    color:inherit !important;
    text-decoration:none !important;
}
p.text_nou{
    font-size:15px;
    font-weight: 600;
    margin-bottom:5px;
    display: inline-block;
}
select.input_filter{
    font-size:15px;
    background-color:#ffffff;
    border-radius:5px;
    border:1px solid #e6e6e6;
    display: inline-block;
    padding:3px;
}
img.img_slide_afisare{
    width:100%;
    height:150px !important;
    object-fit:cover;
    border-radius:5px;
}
.carouselina .carousel-control{
    background-image: none !important;
    font-size:12px;
    color:#ffffff;
}
.carouselina .carousel-control span{
    font-size:12px;
    color:#ffffff;
    height:35px !important;
    width:25px !important;
    background-color:rgba(0, 0, 0, 1);
    padding:10px 0px;
}
.carouselina .carousel-control .glyphicon-chevron-right{
    border-top-left-radius:5px !important;
    border-bottom-left-radius:5px;
}
.carouselina .carousel-control .glyphicon-chevron-left{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
span.green_status{
    color:#7fcb1d;
    font-size:12px;
    font-weight: 400;
}
span.red_status{
    color:#d1161f;
    font-size:12px;
    font-weight: 400;
}
button.go_there{
    font-size:15px;
    color:#ed3237;
    font-weight: bold;
    margin-bottom:2px;
    background:none;
    border:none;
    padding:0;
    margin-top:10px;
}
.listare_promovat{
    border:1px solid #ed3237 !important;
}
p.text_promovare{
    font-size:12px;
    color:#ff721f;
    font-weight:600;
    margin-bottom:0;
}
div.div_listare_cautare_pad{
    width:100%;
    min-height:150px;
    background-color:#fbfbfb;
    border-radius:10px;
    border:1px solid #e6e6e6;
    padding:10px;
    margin-top:15px;
    position:relative;
    overflow:hidden;
}
span.text_distance{
    font-size:18px;
    color:#373435;
}
i.absolute_bg_mon_icon{
    font-size:230px;
    position:absolute;
    color:#f8f8f8;
    right:-10px;
    top:-40px;
}
p.text_desc_rast{
    font-size:13px;
    color:#838383;
    margin-bottom:0;
    font-weight:600;
}
button.follow_but{
    color:#373435;
    font-size:15px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:5px;
    padding:3px 10px;
     display: inline-block;
    font-weight:600;
    margin-left:30px;
}
p.rest_type1{
    float:right;
    color:#ed3237;
    font-size:18px;
    margin-left:40px;
    margin-bottom: 0;
    margin-top:15px;
    position: relative;
}
p.rest_type2{
    float:right;
    color:#ed3237;
    font-size:18px;
    margin-bottom: 0;
    margin-top:15px;
}
p.rest_type1:before{
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background-color:#ed3237;
    left:-23px;
    border-radius:50%;
    margin-top:9px;
}
div.second_navigator{
    text-align:center;
    width:100%;
    height:auto;
    padding:20px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
button.buton_sec_navigator{
    font-size:17px;
    font-weight: bold;
    color:#373435;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    border-radius:5px;
    margin-left:10px;
    margin-right:10px;
    padding:2px 17px;
}
.top_spaced{
    margin-top:30px;
}
p.location_left{
    font-size:16px;
    font-weight: 600;
    margin-bottom:0;
}
p.location_left i{
    color:#ed3237;
}
button.lil_but_loc{
    background:transparent;
    border:none;
    color:#ed3237;
    font-weight: 600;
    font-size:14px;
    padding:0;
    margin-top:5px;
}
.portocaliu{
    color:#ed3237 !important;
}
button.button_send{
    color:#373435;
    background:transparent;
    border:1px solid #ed3237;
    padding:1px 15px;
    font-size:15px;
    font-weight: 600;
    border-radius:5px;
    margin-top:5px;
}
div.div_por{
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    border-radius:10px;
    padding:5px;
    margin-bottom:10px;
}
p.header_infor{
    font-size:16px;
    font-weight: bold;
    margin-bottom:0;
    margin-left:10px;
}
p.header_infor i{
    font-size:20px;
    color:#7fcb1d;
    margin-right:5px;
}
hr.hr_info{
    margin-top:5px;
    margin-bottom:5px;
}
p.section_info_title{
    color:#ed3237;
    font-weight: 600;
    margin-bottom:5px;
}
div.padded_info{
    padding:0 10px;
}
div.linie_prog{
    margin-left:5px;
}
p.prog_day{
    font-size:15px;
    font-weight: bold;
    padding-left:15px;
    position:relative;
    display: inline-block;
    margin-bottom:0;
}
p.prog_day:before{
    content:"";
    position:absolute;
    width:6px;
    height:6px;
    background-color:#373435;
    left:-1px;
    border-radius:50%;
    margin-top:7px;
}
p.prog_hours{
    font-size:15px;
    font-weight:600;
    display: inline-block;
    margin-left:30px;
    margin-bottom:0;
}
p.info_name{
    font-size:15px;
    display: inline-block;
    margin-bottom:0;
}
p.info_crt{
    font-size:15px;
    font-weight: bold;
    margin-left:30px;
    display: inline-block;
    margin-bottom:0;
}
div.images_row{
    width:100%;
    height:300px;
    position:relative;
}
img.image_abs_rest_1{
    width:35%;
    position:absolute;
    height:250px;
    border-radius:10px;
    object-fit:cover;
    margin-top:15px;
    cursor:pointer;
    transition: 0.1s;
}
img.image_abs_rest_2{
    width:40%;
    position:absolute;
    height:280px;
    border-radius:10px;
    object-fit:cover;
    left:50%;
    transform:translateX(-50%);
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.14);
    cursor:pointer;
    transition: 0.1s;
}
img.image_abs_rest_3{
    width:35%;
    position:absolute;
    height:250px;
    border-radius:10px;
    object-fit:cover;
    right:0;
    margin-top:15px;
    cursor:pointer;
    transition: 0.15s;
}
img.image_abs_rest_3:hover, img.image_abs_rest_2:hover, img.image_abs_rest_1:hover{
    width:43%;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.14);
    height:300px;
    margin-top:-10px;
    z-index:5;
}
p.rest_desc{
    font-size:16px;
    font-weight: 600;
    color:#373435;
    text-align: center;
}
img.logo_sponsor{
    width:100%;
    object-fit:contain;
    height:120px;
}
p.title_sponsori{
    font-size:17px;
    font-weight: 600;
    color:#ed3237;
}
p.post_rest{
    font-size:17px;
    font-weight: 600;
    color:#ed3237;
    text-align: center;
}
.active_secmen{
    border:1px solid #ed3237 !important;
}
div.categorie_meniu_pub{
    width:100%;
    height:auto;
    border-bottom:1px solid #ed3237;
    margin-bottom:15px;
}
div.subcategorie_meniu_pub{
    width:100%;
    height:auto;
    border-bottom:1px solid #e6e6e6;
    padding-bottom:15px;
    margin-bottom:15px;
}
div.menu_div_p{
    width:100%;
    min-height:370px;
    border-radius:10px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    margin-bottom:20px;
    position:relative;
}
img.img_menu_p{
    height:270px !important;
    object-fit:cover;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}
.modified_arrows .carousel-control .glyphicon-chevron-right{
    margin-right:-27px !important;
}
.modified_arrows .carousel-control .glyphicon-chevron-left{
    margin-left:-26px !important;
}
p.title_menu{
    font-size:15px;
    max-width:75%;
    font-weight: 600;
    margin-bottom:0;
    color:#373435;
    display: inline-block;
}
p.price_menu{
    float:right;
    color:#ed3237;
    font-size:15px;
    font-weight: 600;
    margin-bottom:0;
}
p.more_details_menu{
    text-align: center;
    color:#ed3237;
    font-size:15px;
    font-weight: 600;
    cursor:pointer;
    margin-bottom:0;
    margin-top:8px;
}
div.text_body_men_p{
    padding:6px;
}
p.categorie_title_men{
    font-size:18px;
    color:#373435;
    font-weight: bold;
    position:relative;
    margin-left:20px;
    margin-bottom:3px;
}
p.categorie_title_men:before{
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background-color:#ed3237;
    left:-15px;
    border-radius:50%;
    margin-top:7px;
}
p.subcategorie_title_men{
    font-size:16px;
    color:#373435;
    font-weight: bold;
    position:relative;
    margin-left:40px;
}
p.subcategorie_title_men:before{
    content:"";
    position:absolute;
    width:8px;
    height:8px;
    background-color:#ed3237;
    left:-15px;
    border-radius:50%;
    margin-top:7px;
}
div.div_more_info{
    position:absolute;
    width:100%;
    height:100%;
    box-shadow: 0.624px 2.934px 7px 0px rgba(0, 0, 0, 0.3);
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    padding:10px;
    border-radius:10px;
    transition: 0.2s;
}
.undisplayed{
    opacity:0;
    z-index:-1;
}
.displayed{
    opacity:1;
    z-index:2;
}
i.close_more_info{
    float:right;
    color:#e6e6e6;
    cursor:pointer;
}
i.port_ic_inf{
    color:#ed3237;
    margin-right:3px;
}
div.row_for_stars{
    width:100%;
    margin-top:20px;
    margin-bottom:30px;
}
div.row_for_stars div i{
    color:#ed3237;
    font-size:25px;
    margin-left:2px;
    margin-right:2px;
}
button.see_soon_events{
    color:#ffffff;
    background-color:#ed3237;
    border:0;
    border-radius:5px;
    padding:5px 30px;
    font-size:15px;
    display: block;
    margin:auto;
    font-weight: 600;
    margin-top:40px;
    margin-bottom:40px;
}
p.lil_f{
    font-size:12px;
    display: inline-block;
    color:#838383;
    margin-left:4px;
    margin-bottom: 0;
}
div.element_hist{
    width:100%;
    border-bottom:1px solid #e6e6e6;
    padding:10px 30px;
}
p.desc_hist{
    font-size:14px;
    font-weight: 600;
    color:#838383;
    margin-bottom:0;
}
div.div_for_hist{
    max-height:500px;
    overflow-y:scroll;
}
p.text_added_profile_ed{
    font-size:16px;
    margin-top:5px;
    margin-left:10px;
    cursor:pointer;
    max-width: 80%;
    position:relative;
}
.none_disp{
    display: none;
}
.btn_save{
    display: none;
}
.preluare_informatii{
    padding-right:100px !important;
}
div.red_header_err{
    width:100%;
    height:auto;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    background-color:#ed3237;
    padding:30px 0px;
}
div.green_header_err{
    width:100%;
    height:auto;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    background-color: #02d32d;
    padding:30px 0px;
}
div.modalERR{
    padding: 0 !important;
}
img.img_egg{
    width:100%;
}
p.text_err_modal{
    font-size:25px;
    color:#ffffff;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing:-1px; !important;
}
p.message_err{
    color:#373435;
    font-size:22px;
    text-align: center;
    font-weight: 600;
    margin:60px 0px;
}
p.message_err2{
    color:#373435;
    font-size:22px;
    text-align: center;
    font-weight: 600;
    margin:60px 0px;
}
button.ok_err{
    font-size:20px;
    background:transparent;
    border:3px solid #ed3237;
    padding:8px 50px;
    color:#ed3237;
    display: block;
    margin: auto;
    margin-bottom:50px;
    transition: 0.1s;
}
button.ok_err:hover{
    background:#ed3237;
    color:#ffffff;
    padding:8px 70px;
}
section.hide_cards .col-md-3{
    max-height:0px;
    overflow:hidden;
    transition: 0.1s;
}
i.sageata_to_dev{
    font-size:30px;
    text-align: center;
    margin: 20px auto 20px auto;
    display: block;
    cursor:pointer;
    color:#838383;
}
img.mini_logo_nav{
    width:25px;
    height:25px;
    border-radius:50px;
    display: inline-block;
    margin-left:10px;
}
p.title_modal_info{
    color:#ed3237;
    font-size:25px;
}
p.description_info{
    font-size:16px;
}
div.istoric_profesional{
    width:100%;
    background-color:#ffffff;
    border:1px solid #e6e6e6;
    border-radius:5px;
    margin-bottom:5px;
    padding:10px;
}
p.postul_ocupat{
    margin-bottom:2px;
    font-size:15px;
}
p.postul_ocupat_descriere{
    margin-bottom:2px;
    font-size:12px;
}
button.delete_ist{
    background-color:#ffffff;
    border:none;
    padding:0;
    width:100%;
    text-align:right;
    font-size:13px;
    color: #b7b7b7;
}
div.adaugare_imagini_post{
    display: none;
    height:auto;
}
div.div_imagini_adaugare_post{
    width:500px;
    margin:auto;
    margin-top:30px;
    position: relative;
}
input.input_check_in{
    width:100%;
    height:40px;
    border:1px solid #e6e6e6;
    border-radius:4px;
    padding-left:40px;
    position:relative;
    text-align: left !important;
}
select.input_check_in{
    width:100%;
    height:40px;
    border:1px solid #e6e6e6;
    border-radius:4px;
    padding-left:15px;
    position:relative;
    text-align: left !important;
    background:transparent;
}
div.display_not_check_in{
    display: none;
}
p.text_label_check_in{
    font-size:16px;
    position:absolute;
    color:#000000;
    z-index:2;
    margin:10px 0 0 10px;
}
.carousel_verification, .normal_image_verification{
    display:none;
}
textarea.edit_post_textarea{
    width:90%;
    display: block;
    margin:auto;
    height:150px;
    font-size:16px;
    border:1px solid #e6e6e6;
    border-radius:10px;
    margin-top:30px;
    margin-bottom:40px;
}
div.div_adaugare_program{
    width:100%;
    height:auto;
    padding:30px 10px 10px 10px;
    border-radius:15px;
    background-color: #f7f7f7;
    border:1px solid #e6e6e6;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:17px;
    font-weight: 700;
    position: relative;
    margin-bottom:15px;
}
div.div_adaugare_program i.fa-trash-alt{
    position:absolute;
    right:30px;
    top:10px;
    margin-left:20px;
    font-size:15px;
    color:#ed3237;
    cursor:pointer;
    z-index:2;
}
div.div_adaugare_program i.fa-edit{
    position:absolute;
    right:60px;
    top:10px;
    margin-left:20px;
    font-size:15px;
    cursor:pointer;
    z-index:2;
}

.append_menus_here{
    margin-top:100px;
}
.img_menu_page{
    width:100%;
    height:200px;
    object-fit: cover;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.nume_meniu_pagina_meniuri{
    text-align: center;
    font-size:20px;
    margin-top:20px;
    font-weight: 600;
    margin-bottom:40px;
}
.menu_div_page_menus{
    width:100%;
    height:auto;
    border-radius:10px;
    padding-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #e6e6e6;
    margin-bottom:20px;
    position:relative;
}

@media screen and (max-width:1024px){
    .only_phone{
        display: block;
    }
    button.idx_button_log{
        margin-right:15px;
        margin-top:10px;
    }
    div.index_header{
        height:90vh;
    }
    div.index_header:before{
        content: "";
        top: 0;
        left: 0;
        width:100%;
        height:90vh;
        position:absolute;
        background-image:url('../images/asdf.jpg');
        background-size: auto 100%;
        background-position: center;
        filter:brightness(65%);
    }
    div.label_search{
        border-top-left-radius: 6px;
        border-bottom-left-radius:0px;
        border-top-right-radius: 6px;
        float: none;
        width:100%;
    }
    input.input_search{
        float:none;
        width:100%;
        text-align: center;
    }
    div.label_search_interior{
        float: none;
        width:100%;
    }
    button.button_search{
        width:100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius:6px;
        border-bottom-left-radius: 6px;
        float: none;
    }
    div.fast_checkboxs_idx{
        margin-top:20px;
    }
    img.image_plane{
        width:45%;
        margin-bottom:20px;
    }
    nav.base_navigator{
        height:100%;
        margin-left:-100%;
    }
    .navigator_button{
        margin-left:10px;
        margin-top:40px;
        display: block;
        font-size:18px;
    }
    .no_phone{
        display: none;
    }
    .navigator_button_close{
        background:transparent;
        border:none;
        font-size:18px;
        margin-right:10px;
        font-weight: 600;
        margin-top:18px;
        transition: 0.2s;
        float:right;
    }
    .navigator_button_close i{
        color:#ed3237;
    }
    .navigator_button_close:hover{
        color:#ed3237;
    }
    div.navigator_label{
        display: block;
        position: fixed;
        width: 100%;
        margin-right:-100%;
        z-index:100;
        background-color:#ffffff;
        height:60px;
        border-bottom:1px solid #e6e6e6;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    }
    img.logo_navigator_label{
        height:35px;
        float:right;
        margin-top:10px;
        margin-right:20px;
    }
    div.navigator_label i{
        font-size:25px;
        margin-left:20px;
        margin-top:20px;
    }
    img.main_profile_photo{
        width:35px;
        height:35px;
    }
    p.profile_name{
        font-size:15px;
        margin-left:20px;
        max-width:70%;
    }
    p.profile_name:before{
        content:"";
        position:absolute;
        width:5px;
        height:5px;
        left:-12px;
        margin-top:7px;
    }
    button.modify_profile{
        margin-top:0px;
    }
    div.profile_card{
        height:auto;
        text-align: left;
        padding-bottom:45px;
    }
    div.location_card{
        height:auto;
        padding-bottom:75px;
    }
    div.location_card_salon{
        height:auto;
        padding-bottom:10px;
    }
    i.plus_card{
        font-size:25px;
        border:3px solid #ed3237;
        margin-bottom:10px;
        float:left;
        margin-right:10px;
    }
    p.title_card{
        font-size:15px;
        font-weight: bold;
        line-height:1;
        margin-bottom: 0;
    }
    p.subtitle_card{
        font-size:13px;
    }
    button.card_button{
        width:50%;
        bottom:10px;
    }
    i.coins_card{
        font-size:40px;
        margin-bottom:10px;
        float:left;
        margin-right:10px;
    }
    input.input_search_profile{
        float:none;
        width:100%;
        text-align: center;
    }
    .grid-item {
        width: 100%;
        float:none;
    }
    img.post_profile{
        width:50px;
        height:50px;
    }
    div.modalContentPost{
        height:70vh;
        overflow: visible;
    }
    div.image_modal_div_post{
        width:100%;
        border-top-left-radius:5px;
        border-bottom-left-radius:0px;
        border-top-right-radius:5px;
    }
    img.big_image_modal{
        max-height:70vh;
    }
    div.information_modal_div_post{
        width:100%;
        float:none;
        position: absolute;
        bottom:-25vh;
        background-color:#ffffff;
        height:25vh;
        overflow-y:scroll;
        border-bottom-right-radius:5px;
        border-bottom-left-radius:5px;
    }
    button.add_funds{
        display: block;
        margin: auto;
    }
    p.silver_tips{
        font-size:18px;
    }
    p.gold_tips{
        font-size:18px;
    }
    p.platinum_tips{
        font-size:18px;
    }
    p.profile_name_profesionist{
        font-size:15px;
        margin-left:20px;
    }
    p.profile_name_profesionist:before{
        content:"";
        position:absolute;
        width:5px;
        height:5px;
        left:-12px;
        margin-top:7px;
    }
    p.profile_name_profesionist:after{
        display: none;
    }
    p.profesionist_status{
        font-size:15px;
        margin-left:15px;
    }
    .switch {
        width: 30px;
        height: 20px;
        margin-left:5px;
        margin-right:10px;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom:2px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(9px);
        -ms-transform: translateX(9px);
        transform: translateX(9px);
    }
    p.numar_urmaritori{
        float:left;
        margin-right:5px;
        margin-top:0px;
        font-size:14px;
    }
    p.numar_urmaritori_res{
        float:none;
        margin-right:5px;
        margin-top:0px;
        font-size:14px;
        margin-bottom:0;
    }
    div.diver_header_mobile_opt{
        float:right;
    }
    div.label_textarea_postare{
        display:block;
        width: 100%;
        border-top-left-radius:10px;
        border-bottom-left-radius:0;
        border-top-right-radius:10px;
        padding:10px;
        height:auto;
    }
    textarea.textarea_create_post{
        display: block;
        width:100%;
        border-top-right-radius:0px;
        border-bottom-right-radius:10px;
        border-bottom-left-radius:10px;
        border-top:none;
        border-bottom:1px solid #e6e6e6;
        border-right:1px solid #e6e6e6;
        border-left:1px solid #e6e6e6;
        float:none;
        margin-top:0px;
        padding:5px;
    }
    div.div_blocker_mobile{
        display: block;
        width:90%;
        margin: auto;
    }
    aside.editare_profil_sidebar{
        width:100vw;
    }
    aside.adaugare_camere_sidebar{
        width:100vw;
    }
    div.header_fast_navigation_editer{
        font-size:14px;
        padding:10px 5px;
    }
    button.button_fast_nav_editer_inactive i{
        display: none;
    }
    button.button_fast_nav_editer_active i{
        display: none;
    }
    button.button_fast_nav_editer_active{
        width:100%;
        padding:3px;
        text-align: center;
        font-size:12px;
    }
    button.button_fast_nav_editer_inactive{
        width:100%;
        padding:3px;
        text-align: center;
        font-size:12px;
    }
    div.fast_navigation_editer{
        width:20%;
    }
    div.actual_navigation_editer{
        width:80%;
    }
    button.buton_save_fast_nav{
        font-size:13px;
    }
    button.buton_export_fast_nav{
        font-size:13px;
    }
    button.buton_close_fast_nav{
        font-size:13px;
    }
    p.title_search_page{
        font-size:16px;
    }
    div.float_right{
        margin-top:5px;
    }
    img.logo_idx{
        width:100px;
        margin-top:50px;
    }
    img.cover_locatie{
        height:50px;
    }
    aside.navigator_sidebar{
        width:100%;
    }
    p.main_title_page, p.main_title_page2{
        font-size:18px;
    }
    img.cover_camera{
        height:70px;
    }
    p.date_floated_right_ang{
        font-size:10px;
    }
    p.list_afisare_title{
        font-size:17px;
    }
    input.search_room{
        margin-top:10px;
        width:100%;
        margin-bottom:0;
    }
    input.nume_meniu{
        width:90%;
        margin: auto;
        margin-right:0;
        margin-left:0;
        margin-bottom:5px;
    }
    div.sub_categorie_meniul_zilei{
        padding:7px 5px;
        font-size:13px;
    }
    div.categorie_adaugata_mn{
        padding:10px 5px;
        font-size:13px;
    }
    div.sub_categorie_meniul_zilei_sub{
        padding:7px 5px;
        font-size:13px;
    }
    button.adauga_mn{
        font-size:10px;
        padding:1px 5px;
    }
    button.save_menu{
        height:30px;
        padding-left:15px;
        padding-right:15px;
    }
    button.adauga_categorie_button{
        width:100%;
    }
    div.categorie_adaugata{
        width:100%;
    }
    input.input_interior_div{
        width:70%;
    }
    div.adaugare_subcategorie_si_meniu{
        margin-left:0;
    }
    button.adauga_subcategorie_button{
        width:100%;
        margin-right:0px;
    }
    div.subcategorii_si_meniuri_adaugate{
        margin-left:0;
    }
    div.creare_meniu_div{
        width:100%;
    }
    img.img_uploaded_menu{
        height:60px;
    }
    button.add_photo_add_men{
        height:60px;
    }
    p.text_added_profile_ed{
        max-width: 70%;
    }
}